@font-face {
    font-family: 'Spock';
    src: url('../lib/fonts/Spock.woff2') format('woff2'),
        url('../lib/fonts/Spock.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saygon';
    src: url('../lib/fonts/Saygon.woff2') format('woff2'),
        url('../lib/fonts/Saygon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     font-family: 'Spock';
}


:root{
     font-size: 16px;

     --primary: #f1e735;
     --faded-primary: rgba(241, 231, 53);
     --fade: rgba(241, 231, 53);

     --pattern: rgba(22, 22, 7, 1);
     --hidden: rgba(0, 0, 0, 0.8);

     --bg: black;
     --accent: white;
}
